# Data Definition Language(DDL)

SQL syntax, it comprises several types of statements that allow to perform various commands and operations.
___

### Data Definition Language

The Data Definition Language is one type, it is called a language but you can think of it as a syntax, a set of statements that allow the user to define or modify data structures in object such as tables.
___

#### CREATE

One DDL statement is the CREATE statement, as its name suggests, it is used for creating entire databases and database objects as tables.

For example, if we want to create a table, we must abide by the following syntax: <code>CREATE object_type object_name</code>,<code>CREATE TABLE object_name(column_name data_type);</code>, as expected, the CREATE statement creates an object with a certain name.

In this case, we are creating a table, given we have to assign columns to the table, after specifying the table name with parentheses, we must also indicate the names of the columns and the type of data contained in each column.

For this line of code <code>CREATE TABLE sale(purchase_number INT);</code>, it can create a table with the name sales, containing one column called purchase_number, that will store only integer values, it looks like below:

sales|
---|
purchase_number|
Interger|

Don't worry if the table name coincides with the name we've assigned to the database, on one hand, the syntax will make it clearer when you refer to the database and to the table, on the other hand, it is logical it makes sense for a database to bear the same name as its main table.
___

#### ALTER

The ALTER statement works which is the operation to be carried out when altering existing objects.

For example, we can use ALTER to modify a table by adding, removing, or renaming one of the columns in the table.

If want to add a column, called data of purchase, it should begin with the same structure as the one used for the CREATE statement, after ALTER, you will be able to designate the object type and its name, after that you are supposed to write down the precise modification.

The syntax is below, <code>ALTER TABLE sales;</code>, <code>ADD COLUMN data_of_purchase DATE;</code>.

So this means a new column containing the date of the purchase will be added to the table, in addition, the values in this column will be of the DATE type.
____

#### DROP

If want to delete a database object, it can use the DROP statement to do that.

For instance, it can delete the entire Customers table with a single line of code, <code>DROP object_type object_name;</code>, <code>DROP TABLE customers;</code>.

The DDL statement was accompanied by the object type and its name.
___

#### RENAME

This piece of syntax allow to rename an object like a database table.

The syntax is <code>RENAME object_type object_name to new_object_name;</code>, <code>RENAME TABLE customers TO customer_data;</code>.
___

#### TRUNCATE

Instead of deleting an entire table through DROP, it can also remove its data and continue to hava the table as an object in the database.

In such a situation, TRUNCATE is the DDL statement that would allow us to do that.

The syntax is <code>TRUNCATE object_type object_name;</code>, <code>TRUNCATE TABLE customers;</code>.

After executing this clause, all the records from the Customers table will be delete but alough empty the table will continue to exist.