# Data Manipulation Language(DML)

### Data Manipulation Language

It is some statements allow us to manipulate the data in the tables of a database.

The DML syntax is composed mainly of the following 4 elements containing statements and keywords, <code>SELECT ... FROM</code>, <code>INSERT INTO ... VALUES</code>, <code>UPDATE ... SET ... WHERE</code>, <code>DELETE ... FROM ... WHERE</code>.
___

#### SELECT

The SELECT, a statement used to retrieve data from database objects, like tables.

The syntax is <code>SELECT * FROM sales;</code>, the <code>*</code> after the SELECT statement in the following line will deliver the entire content of the sales table, meaning all records and fields contained in the table.

It can use the same structure to extrace specific records from the table.
___

#### INSERT

The INSERT is used to insert data into tables, it enables to add more records or rows while you are working with the table.

This clause goes hand in hand with the keywords INTO and VALUES, the syntax is <code>INSERT INTO ... VALUES...;</code>.

The syntax like <code>INSERT INTO sales (purchase_number, data_of_purchase) VALUES (1, '2017-10-11');</code>, after the table name, it will have to specify the columns you are adding information to, unless you want to insert data in all columns.
___

#### UPDATE

The UPDATE allows you to renew existing data of your tables.

The syntax is <code>UPDARA sales SEL data-of_purchase = '2017-12-12' WHERE purchase_numer = 1;</code>.
___

#### DELETE

The DELETE is function similarly to the TRUNCATE statement for DDL with one substantial difference.

The TRUNCATE allows to remove all the records contained in a table; with DELETE allows to specify precisely what you would like to be removed.

The syntax is <code>DELETE FROM sales;</code>, this syntax will remove all the records from the sales table just as if we had <code>TRUNCATE TABLE sales;</code>.

If take advantage of the optional WHERE clause, the syntax is <code>DELETE FROM sales WHERE purchase_number = 1;</code>, the following statement will delete the record with purchase_number of 1, and the other one we have in table will be left intace.